* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#showcase {
  background-color: #2e4c6d;
  height: 500px;
  width: 100%;
  padding: 10px;
  /* border: 5px solid red; */
}

#how-it-works {
  background-color: #fc997c;
  padding: 10px;
}

.main-header {
  background-color: #fc997c;
}

.main-nav {
  display: inline-block;
  width: calc(100% - 80px);
  text-align: right;
}
