.container {
  display: flex;

  /* flex-direction: row; */
  /* flex-direction: column; */
  /* flex-direction: row-reverse; */

  /* flex-wrap: nowrap; */
  /* flex-wrap: wrap; */
  /* flex-wrap: wrap-reverse; */

  flex-flow: row wrap;

  background-color: #034f84;
  padding: 15px;
}

.item {
  background-color: #f7786b;
  padding: 30px;
  margin: 20px;
  color: #fff;
  font-size: 25px;
}
