:root {
  --primary: #6610f2;
}

.top-bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.btn-light {
  background-color: #fff;
  border-color: #dee2e6;
  color: #212529;
}

.bg-primary,
.btn-primary {
  background-color: var(--primary) !important ;
}

.navbar-brand {
  color: var(--primary);
}

.btn-light i {
  color: var(--primary);
}

.slider_nav {
  max-height: 300px;
}

@media (min-width: 1400px) {
  .slider_nav {
    max-height: 350px;
  }
}

.img-wrap {
  position: relative;
  padding: 1rem;
}

.img-wrap .badge {
  position: absolute;
  top: 10px;
  right: 10px;
}

.info-wrap {
  padding: 1rem 1.2rem;
}

.info-wrap .title {
  display: block;
  text-decoration: none;
  color: #51585e;
}

/* .price-wrap .price-discount {
  font-size: 1.2rem;
} */

.img-wrap {
  height: 240px;
  text-align: center;
}

.img-wrap img {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
