* {
  margin: 0;
}

#header {
  position: relative;
  /* background-image: linear-gradient(to bottom right, #ff0000, #ffff00); */
  background-image: /* linear-gradient(
      to bottom right,
      rgba(230, 255, 230, 0.6),
      rgba(102, 255, 10, 0.6)
    ), */ url("image/bg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
}

#header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 50px;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 70px;
}
