* {
  margin: 0;
}

#showcase {
  background-color: #2e4c6d;
  padding: 50px;
}

h1 {
  padding: 20px;
  background-color: #296eb0;
}

#how-it-works {
  background-color: #fc997c;
  /* margin-left: 100px; */
  padding-left: 100px;
}

nav {
  background-color: #daddfc;
  padding: 20px;
  margin-top: 10px;
}

a {
  text-decoration: none; /* remove underline */
  color: #296eb0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
