.container {
  display: flex;

  flex-direction: column;

  /* align-items: flex-end; */

  background-color: #034f84;
  height: 500px;
}

.item {
  background-color: #f7786b;
  padding: 30px;
  margin: 20px;
  color: #fff;
  font-size: 25px;
}

.item-1 {
  align-self: flex-start;
}

.item-2 {
  align-self: center;
}
