.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.header {
  grid-column: 1 / span 3;
  text-align: center;
  background-color: red;
}

.content {
  grid-column: 1 / span 2;
}

.footer {
  grid-column: 1 / span 3;
  background-color: red;
}

.box-1 {
  background-color: yellow;
  grid-column: 1 / span 3;
}

.box-3 {
  background-color: green;
  grid-column: 2 / span 2;
}

.header,
.content,
.sidebar,
.footer,
.box-1,
.box-2,
.box-3 {
  border: 1px solid #ccc;
}
