* {
  margin: 0;
}

#showcase {
  background-color: #2e4c6d;
  padding: 50px;
}

h1 {
  padding: 20px;
  background-color: #396eb0;
  /* border: 5px solid white; */
  border-top: 5px solid white;
  border-right: 5px solid white;
}

#how-it-works {
  background-color: #fc997c;
}

nav {
  background-color: #daddfc;
  padding: 20px;
  border-bottom: 5px solid #fc997c;
}

a {
  color: #2e4c6d;
  text-decoration: none;
  border: 1px solid #396eb0;
  border-radius: 5px 10px;
}
