body {
  margin: 0;
}

.container {
  /* display: inline grid; */
  display: grid;
  /* height: 800px; */

  /* grid-template-columns: 150px 250px 400px 150px; */
  /* grid-template-columns: 150px auto 200px auto; */
  /* grid-template-columns: auto auto 20%; */
  /* grid-template-columns: repeat(3, auto); */
  /* grid-template-columns: repeat(3, 200px); */
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;

  grid-auto-rows: 3fr;

  background-color: #034f84;
  padding: 20px;
}

.item {
  background-color: #f7786b;
  padding: 30px;
  margin: 20px;
  color: #fff;
  font-size: 25px;
}
