.box {
  height: 60px;
  width: 60px;
  display: inline-block;
}

#first {
  background-color: red;
}

#second {
  background-color: green;
  visibility: hidden;
}

#third {
  background-color: blue;
}
