body {
  margin: 0;
}

.bg {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bg-image-1 {
  background-image: url("image/bg-2.jpeg");
  height: 100vh;
}

.bg-image-2 {
  background-image: url("image/bg-3.jpeg");
  height: 50vh;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.caption .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.box {
  color: #777;
  background-color: #fff;
  text-align: center;
  padding: 50px 80px;
}
