* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: goldenrod;
  padding: 0 20px;
}

nav a {
  /* margin-right: auto; */
  align-self: center;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
}

.navigation {
  list-style: none;
  display: flex;
  /* gap: 20px; */
}

.navigation a {
  display: block;
  padding: 16px;
}

.navigation a:hover {
  background-color: rgb(233, 184, 61);
}

.navigation li:last-child {
  display: none;
}

@media (max-width: 600px) {
  nav {
    position: relative;
    flex-direction: column;
  }

  nav {
    align-self: flex-start;
  }

  .navigation {
    flex-direction: column;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0 0, 0, 0, 0.1);
  }

  .navigation li:last-child {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
  }

  .responsive .navigation li:not(:last-child) {
    display: none;
  }

  .navigation li:last-child a {
    border-bottom: none;
  }
}
