div {
  width: 150px;
  height: 200px;
  background-color: blueviolet;
}

.element {
  background-color: yellow;
  animation: bounceIn 2s;
}

.animate__animated.animate__bounce {
  --animate-duration: 2s;
}
